@import "tailwindcss";

@theme {
  --color-bg: #0b0b0b;
  --color-bg-soft: #121212;
  --color-text: #fff;
  --color-accent: #9b1c1c;
  --color-border: #2a2a2a;

  --font-sans: Inter, system-ui, sans-serif;

  --tracking-widest: 0.2em;
}

/* =========================
   BASE STYLES
   ========================= */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
  background: url("./assets/background.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
