@import "tailwindcss";

@theme {
  --color-dark: #0b0b0b;
  --color-dark-soft: #342c2c;
  --color-text: #f5f5f5;
  --color-accent: #1c3c9b;
  --color-secondary: #aa130f;
  --color-tertiary: #902020;
  --color-border: #2a2a2a;

  --font-sans: Inter, system-ui, sans-serif;

  --tracking-widest: 0.2em;
}

/* =========================
   BASE STYLES
   ========================= */
body {
  background-color: var(--color-dark);
  color: var(--color-text);
  font-family: var(--font-sans);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
